@import "~bulma";
@import "~bulma-timeline";

$bp-medium: 768px;
$bp-large: 1280px;

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img{
  width: 32px;
  vertical-align: middle;
}

#profile-bio{
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}

.profile-container {
  @media(min-width: $bp-medium) {
    width: 50%;
  }
  @media(min-width: $bp-large) {
    width: 30%;
  }
}
